beautifulsoup4
black
chromadb
python-dotenv
jsbeautifier
numpy
ntplib
openai
passlib[bcrypt]
pygit2
pyyaml
requests
sentence-transformers
sqlparse
streamlit
tiktoken
tqdm
ecdsa
scipy
pandas
matplotlib
sympy
mpmath
statsmodels
PuLP
astropy
qutip
control
biopython
pubchempy
dendropy
rdkit
pyscf
pygame
chess
mido
midiutil
networkx
torch
python-snappy
